:root {
    --color-background: black;
    --color-text: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
    font-weight: 0;
    letter-spacing: 0.2rem;
}

body{
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}


.ul{
    height: 10vh;
    box-shadow: 3px 2px 5px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn{
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 2px var(--color-background) solid;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--color-background);
    color: var(--color-text);
    scale: 0.95;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    padding: 1rem 2rem;
    color:var(--color-background);
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid hwb(0 0% 100%);
    margin: 0.2rem;
}

.one{
    display: none;
}
.two{
    display: none;
}
.three{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    outline: none;
    transition: all 0.4s;
    background-color: var(--color-background);
    border: 2px solid black;
    color:  var(--color-text);
}

button:hover {
    background:transparent ;
    color: var(--color-background);
}

@media (max-width:600px) {
    h1 {
        padding: 0.4rem 0.6rem;
        font-size: 1rem;
    }
    button{
        padding: 0.4rem 0.6rem;
        font-size: 1rem;
    }
    .btn{
        padding: 0.2rem 0.7rem;
        border-radius: 1rem;
        font-size: 1rem;
    }
}
